textarea {
    min-height: 400px;
}


.email{
    
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0px;
    height: 50px;
}

.email:hover{
    cursor: pointer;
}

.email > h4{
    margin: 5px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 15px;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 15px;
    display: inline-block;
}

.email > .subject{
    display: inline-block;
    margin-left: 30px;
}

.email > .date{
    text-align: right;
    float : right ; 
    color:  #8a8a8a ; 
    display: inline-block;
}

#reply{

display: inline ; 
}

#archive_mail{

    display: inline; 
}